@media screen and (max-width: 768px) {
    .container {
        max-width: 100%; 
    }
}

@media screen and (max-width: 376px) {
    
        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
           
        }
        
        .lessons .col {
            width: 100%;
        }
        .steps .col {
            width: 100%;
            margin-bottom: 15px;
        }
}

    
